node_modules
boatData.xlsx
cleanData*
.DS_Store
data*
lib
env
.venv
*bin
bin
pkg
tls
.env
__pycache__
*egg-info
.ipynb_checkpoints
Output.txt
output.txt
token.json
credentials.json
*.tar
*.tar.*
devcontainer.env
